%div
  .block
    %label.kintoneplugin-label
      %span#column1 カラム1
      %span.kintoneplugin-require *
    .kintoneplugin-row 1列目に表示するフィールドのフィールドコードをいれてください。
    .kintoneplugin-input-outer
      %input#post_code.kintoneplugin-input-text
  .block
    %label.kintoneplugin-label
      %span#column2 カラム2
      %span.kintoneplugin-require *
    .kintoneplugin-row 2列目に表示するフィールドのフィールドコードをいれてください。
    .kintoneplugin-input-outer
      %input#post_code.kintoneplugin-input-text
  .block
    %label.kintoneplugin-label
      %span#column3 カラム3
      %span.kintoneplugin-require *
    .kintoneplugin-row 3列目に表示するフィールドのフィールドコードをいれてください。
    .kintoneplugin-input-outer
      %input#post_code.kintoneplugin-input-text
  .block
    %label.kintoneplugin-label
      %span#column4 カラム4
      %span.kintoneplugin-require *
    .kintoneplugin-row 4列目に表示するフィールドのフィールドコードをいれてください。
    .kintoneplugin-input-outer
      %input#post_code.kintoneplugin-input-text
  .block
    %label.kintoneplugin-label
      %span#column5 カラム5
      %span.kintoneplugin-require *
    .kintoneplugin-row 5列目に表示するフィールドのフィールドコードをいれてください。
    .kintoneplugin-input-outer
      %input#post_code.kintoneplugin-input-text
  .block
    %button#submit.kintoneplugin-button-dialog-ok{:type => "button"} 保存する
    %button#cancel.kintoneplugin-button-dialog-cancel{:type => "button"} キャンセル
