#form {
  table {
    border: 1px solid gray;
    border-spacing: 1px;
    border-collapse: collapse;
    th {
      background-color: #e9e9e9;
    }
    th, td {
      width: 150px;
      padding: 6px;
      border: 1px solid;
    }
  }
  .control {
    float: right;
  }
  .kintoneplugin-row {
    margin-bottom: 1.5em;
    .kintoneplugin-label {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

